

.sidebar {
    width: 200px;
    height: 100vh;
    border-right: 1px solid #ddd;
    position: fixed;
  }
  
  .sidebar__item {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .sidebar__item:hover {
    background-color: black;
  }
  
  .sidebar__item i {
    font-size: 20px;
  }
  
  .ml-3 {
    margin-left: 1rem !important;
  }
  